:root{
    --header-background: rgba(0, 89, 250, .85);
}

body{
    margin: 0;
}

#space{
    height: 40em;
    background-image: url("img/space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#middle{
      
    position: relative;
   
    
}

#ten-count, 
#twenty-count, 
#fifty-count, 
#hundred-count{
    display: block;
    position: absolute;
    left: 10%;
    width: fit-content;
    top: -20%;
    font-size: 10em;
    color: black;
    transition: ease-out;
}

#ten-count::selection{
    color: red;
}

#twenty-count:hover{
    left: 2%;
    font-size: 14rem;
    font-family: fantasy;
    color:rgba(250, 162, 0, 0.418);
}

#dot-clickable{
    right: 7.5%;
    top: 4em;
    margin: 0;
    width: 2em;
    position: absolute;
}


button#center-button{
    top: 50%;
    left: 50%;
    height: 200px;
    width: 200px;

    display: block;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin: auto;
    text-align: center;

    color: indigo;
    background-color: pink;
    border: .4em solid pink;
    border-radius: 50%;
}


#mountains{
    background-image: url("img/mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
}

div img {
    width: 100%;
    height: inherit;
}
