:root{
    --header-background: rgba(0, 89, 250, .85);
}

body{
    margin: 0;
}

header{
    background: var(--header-background);
    text-align: left;
    position: fixed;
    z-index: 999;
    width: 100%;

}

.logo {
    display: inline-block;
    margin-left: 2.4em;
}

nav{
    position: absolute;
    background: var(--header-background);
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

nav li {
    margin-bottom: .5em;
    margin-left: 1em;
    display: block;
}

nav a {
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: rgb(36, 36, 36);

}

.tribar-nav-image{
   max-width: 2em;
   max-height: 2em;
   display: inline-block;
   margin: 0 1.1em;
}

@media screen and (min-width: 800px) {


    nav ul li a{
        opacity: 1;
    }

    nav {
        border: 3px solid red;
        height: 100%;
    }

    .navbar-list{
        list-style: none;
    }

    /*.navbar-item {
        border: 2px solid;
        border-radius: 5px;
        
        display: inline-block;
        margin: 0 .4em;

        background: rgba(124, 194, 252, 0.925);
    }*/

    .logo {
        margin-left: .4em;
        text-align: left;
        display: inline-block;
        text-transform: uppercase;
    }

    .backsplash{
       width: 100%;
       height: 100vh;
       background-image: url("img/backsplash1.jpg");
       background-size: cover;
       background-position: center;

        
    }
}