:root{
    --header-background: rgba(0, 89, 250, .85);
}

body{
    margin: 0;
}

header{
    background: var(--header-background);
    text-align: left;
    position: absolute;
    z-index: 999;
    width: 100%;

}

.logo {
    display: inline-block;
    margin-left: 1.4em;
}

#navbar-list {
    list-style: none;
    display: inline-flex;
    
}
#navbar-list a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    margin: 0 1em;
}

ul#navbar-list li a:hover{
    color: white;
}

.backsplash{
       width: 100%;
       height: 100vh;
       z-index: -3;
       position: absolute;
       background-image: url("img/backsplash1.jpg");
       background-size: cover;
       background-position: center;     
}

.body--image {
    margin-left: 1em;
    width: 20em;
}

.body--image-right{
    text-align: right;
}

section.main-body {
    position: absolute;
    top: 10em;
}

.body--text--section{
    margin-left: .6em;
    background: rgba(235, 167, 218, 0.712)
}
.body--text {}